@import "tailwindcss";

::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #d1d5db; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #9ca3af; }
.dark ::-webkit-scrollbar-thumb { background: #475569; }
* { scroll-behavior: smooth; }
::selection { background-color: #10b981; color: white; }
html { transition: background-color 0.3s ease, color 0.3s ease; }
